*, *:before, *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
:not(svg) {
    transform-origin: 0px 0px;
}

image {
    width: 348;
    height: 347;
    transform: translate(160.06, 122.9);
}
image {
    overflow: hidden;
}
text{
    font-family: 'Open Sans',Arial,sans-serif;
    cursor: default;
}

.cls-1 {
    fill: white;
}
.cls-1 {
    isolation: isolate;
}

.cls-2 {
    opacity: .75;
}

.cls-4 {
    stroke-dasharray: 10,10;
}

.cls-21, .cls-24, .cls-3, .cls-5, .cls-7 {
    stroke-width: 2px;
}
.cls-17, .cls-18, .cls-21, .cls-24, .cls-27, .cls-3, .cls-31, .cls-32, .cls-37, .cls-4, .cls-5, .cls-7 {
    stroke-miterlimit: 10;
}
.cls-5, .cls-7, .cls-17, .cls-18, .cls-24, .cls-21, .cls-3, .cls-4 {
    stroke: white;
}
.cls-17, .cls-18, .cls-27, .cls-3, .cls-31, .cls-32, .cls-37, .cls-4, .cls-5, .cls-7 {
    fill: none;
}
.cls-28, .cls-33, .cls-39, .cls-44, .cls-48, .cls-51 {
    font-size: 10px;
}
.cls-61 {
    font-size: 6px;
}
.cls-29, .cls-35, .cls-41 {
    letter-spacing: -0.01em;
}
.cls-10 {
    fill: #8a46a3;
}
.cls-13 {
    fill: #526dfa;
}
.cls-15 {
    fill: #45cfe1;
}
.cls-25 {
    fill: #ffed47;
}
.cls-22 {
    fill: #ffae34;
}
.cls-24, .cls-21 {
    fill: #241301;
}
.cls-32 {
    stroke: #fff;
}
.cls-17, .cls-18, .cls-27, .cls-31, .cls-32, .cls-37 {
    stroke-width: 0.5px;
}
.cls-17, .cls-18, .cls-21, .cls-24, .cls-27, .cls-3, .cls-31, .cls-32, .cls-37, .cls-4, .cls-5, .cls-7 {
    stroke-miterlimit: 10;
}
.cls-17, .cls-18, .cls-27, .cls-31, .cls-32, .cls-37 {
    stroke-width: 0.5px;
}
.cls-27 {
    stroke: #5d3a8a;
}
.cls-31 {
    stroke: #6a3432;
}
.cls-17, .cls-18, .cls-27, .cls-31, .cls-32, .cls-37 {
    stroke-width: 0.5px;
}
.cls-17, .cls-18, .cls-21, .cls-24, .cls-27, .cls-3, .cls-31, .cls-32, .cls-37, .cls-4, .cls-5, .cls-7 {
    stroke-miterlimit: 10;
}
.cls-37 {
    stroke: #6a3432;
}
.cls-17, .cls-18, .cls-27, .cls-31, .cls-32, .cls-37 {
    stroke-width: 0.5px;
}

.cls-18 {
    stroke-dasharray: 5.04 5.04;
}
.cls-53 {
    fill: rgb(176, 35, 35);
    stroke-width: 3px;
}
.cls-53, .cls-52 {
    stroke: #000000!important;

}
.cls-52 {
    font-size: 32px;
    
    fill: rgb(64, 196, 27);
    font-family: 'Open Sans',Arial,sans-serif;
}
.cls-19 {
    fill:  #ef4141;
}
.matrix-value-point {
    text-anchor: middle;
    alignment-baseline: middle;
}
.cls-54, .cls-55, .cls-56 {
    font-size: 40px;
}

.cls-28, .cls-30, .cls-34, .cls-35, .cls-36, .cls-40, .cls-41, .cls-43, .cls-51, .cls-54, .cls-55, .cls-56, .cls-57, .cls-58, .cls-59, .cls-60 {
    font-weight: 700;
}
.cls-28, .cls-30, .cls-34, .cls-35, .cls-36, .cls-39, .cls-43, .cls-51, .cls-54, .cls-55, .cls-56, .cls-57, .cls-58, .cls-59, .cls-60 {
    font-family: 'Open Sans',Arial,sans-serif;
}
.cls-55 {
    fill: #FFF;
}
.clss{
    fill: #000;
}
.cls-30, .cls-43 {
    font-size: 12px;
}
.cls-59, .cls-60 {
    font-size: 25px;
}
.cls-33, .cls-42, .cls-48 {
    font-family: 'Open Sans',Arial,sans-serif;
}
.cls-38 {
    fill: #6a3432;
}

/* health-map and purposes table styles */


.trade td {
    text-align: left;
    vertical-align: top;
}

.table{
    float: none;
        margin-left: 30px !important;
        margin-right: 10%;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 100%;
          grid-row: 3/3;
          grid-column-start: auto;
          grid-column-end: auto;
          justify-items: center;
          margin-bottom: 10px;
          min-width: 530px;
} 

tbody {
    font-family: 'Open Sans',Arial,sans-serif;
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
 }
 .health-map-table {
    font-size: 70%;
}
.health-map-table {
    width: 570px;
    background: white!important;
    text-align: center;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
.health-map-table tr:nth-child(1) {
    background: #241301!important;
}
tr {
    font-family: 'Open Sans',Arial,sans-serif;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.health-map-table tr:nth-child(2) {
    background: #8a46a3!important;
    background-color: #8a46a3!important;
}

.health-map-table tr:nth-child(3) {
    background: #526dfa!important;
}
.health-map-table tr:nth-child(4) {
    background: #45cfe1!important;
}
.health-map-table tr:nth-child(5) {
    background: #4c8656!important;
}
.table td, .table th {
    padding: 0.45rem;
}
.health-map-table tr:nth-child(6) {
    color: #000;
    background: #ffed47!important;
    background: #ffed47!important;
}
.health-map-table tr:nth-child(7) {
    background: #ffae34!important;
}
.health-map-table tr:nth-child(8) {
    background: #ef4141!important;
}
.health-map-table tr:nth-child(9) {
    background: #241301!important;
    font-weight: bold!important;
}


#prednazn {
    font-size: 70%;
    margin-bottom: 20px;
}

#blom{
    padding-right: 50px;
}
#blom2{
    padding-right: 17px;
    
}

/*media desktop version */


@media screen and (min-width: 1160px) {
body {
    font-family: 'Open Sans',Arial,sans-serif!important;
    color: white!important;
    background-color: #050215;
    font-family: Georgia,'Times New Roman',Times,serif;
}

#matrix{
    float: left;
    margin-left: 1%;
    margin-top: 25px;
    width: 100%;
    max-width: 800px;
    min-width: 380px;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: visible;
}
.t-rec {
    word-break: normal !important;
}
#allrecords {
    -webkit-font-smoothing: antialiased;
    background-color: none;
}

.matrix-container{
    display: grid;
    grid-template: 1fr 1fr 1fr;
}
.pento{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

}
.table{
    justify-items: center;
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start: 2;
    grid-column-end: 2;
}
.info-txt{

    grid-row-start: 1;
    grid-row-end:2;
    grid-column-start: 2;
    grid-column-end: 3;
}
#table1 {
    margin-top: 30px;
    width: 100%;
}
#nebo1, #zemlia1, #for_self1, #male1, #female1, #socium1, #duhovnoe1, #planetarnoe1 {
    border: 2px solid white;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}
#prednazn {
    font-size: 70%;
}
#prednazn {
    margin-bottom: 20px;
}

element.style {
    height: 5px;
}
}

/*media max-width 1160px */


@media screen and (max-width: 1160px) {
    html{
        background-color: #050215;
    }
    body {
        font-family: 'Open Sans', Arial, sans-serif;
        color: white !important;
      
        display: grid;
        grid-template: auto;
      }
      #blom{
    padding-right: 42px;
}
#blom2{
    padding-right: 0px;
    
}
    
      .menu {
        display: flex;
        margin-left: 120px !important;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .menu div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .but1{
        margin-right: 15px;
    }
    
    #matrix {
        float: none;
        margin-left: 60px;
        margin-right: 10%;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 100%;
        max-width: 800px;
        min-width: 380px;
    }
    
    svg:not(:root) {
        overflow-clip-margin: content-box;
        overflow: visible;
    }
    
    .t-rec {
        word-break: normal !important;
    }
    
    .cls-1 {
        fill: white;
    }
    
    .cls-1 {
        isolation: isolate;
    }
    
    /* Modify the styles for mobile devices */
    .pento {
        grid-row: 1/3;
        grid-column-start: auto;
        grid-column-end: auto;
        justify-items: center;
    }
    
    .table {
        float: none;
        margin-left: 25px !important;
        margin-right: 10%;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 100%;
        grid-row: 3/3;
        grid-column-start: auto;
        grid-column-end: auto;
        justify-items: center;
        margin-bottom: 10px;
        min-width: 530px;
    }
    
    .info-txt {
        float: none;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 100%;
        grid-row: 2/3;
        grid-column-start: auto;
        grid-column-end: auto;
        
    }
    
    #table1 {
        margin-top: 30px;
        width: 100%;
    }
    
    #nebo1,
    #zemlia1,
    #for_self1,
    #male1,
    #female1,
    #socium1,
    #duhovnoe1,
    #planetarnoe1 {
        border: 2px solid white;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        display: inline-block;
        text-align: center;
        line-height: 30px;
    }

}

/*media max-width 900px */

@media screen and (max-width: 900px) {
    html{
        background-color: #050215;
    }
    body {
      font-family: 'Open Sans', Arial, sans-serif;
      color: white !important;
      
      display: grid;
      grid-template: auto;
    }
  
          #blom{
    padding-right: 42px;
}
#blom2{
    padding-right: 0px;
    
}
    .menu {
        display: flex;
        margin-left: 120px !important;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    
    #matrix {
        float: none;
        margin-left: 60px;
        margin-right: 10%;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 100%;
        max-width: 800px;
        min-width: 380px;
    }
    
    svg:not(:root) {
        overflow-clip-margin: content-box;
        overflow: visible;
    }
    
    .t-rec {
        word-break: normal !important;
    }
    
    .cls-1 {
        fill: white;
    }
    
    .cls-1 {
        isolation: isolate;
    }
    
/* Modify the styles for mobile devices */


    .pento {
        grid-row: 1/3;
        grid-column-start: auto;
        grid-column-end: auto;
        justify-items: center;
    }
    
    .table {
        float: none;
        margin-left: 25px !important;
        margin-right: 10%;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 100%;
        grid-row: 3/3;
        grid-column-start: auto;
        grid-column-end: auto;
        justify-items: center;
        margin-bottom: 10px;
        min-width: 530px;
    }
    
    .info-txt {
        float: none;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 100%;
        grid-row: 2/3;
        grid-column-start: auto;
        grid-column-end: auto;
        
    }
    
    #table1 {
        margin-top: 30px;
        width: 100%;
    }
    
    #nebo1,
    #zemlia1,
    #for_self1,
    #male1,
    #female1,
    #socium1,
    #duhovnoe1,
    #planetarnoe1 {
        border: 2px solid white;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        display: inline-block;
        text-align: center;
        line-height: 30px;
    }
}
