body {
  background-color: #050215;
  font-family: "GFS Didot";
  color: #ffffff;
  font-style: normal;
  font-size: 1vw;
}

.container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

header,
main,
footer {
  padding-left: 13.125em;
  padding-right: 13.125em;
}

.header {
  padding: 1.875em 0 1.875em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 1.25em;
  text-transform: uppercase;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5em;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer p {
  font-size: 3em;
  font-family: "GFS Didot";
  text-transform: uppercase;
  margin-top: 0;
}

a {
  text-decoration: none; /* убираем линию подчеркивания */
  color: inherit; /* цвет ссылки равен цвету текста */
  outline: none; /* убираем подсветку при фокусировке */
  cursor: default;
}

li {
  list-style-type: none;
}

.birthday-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  margin-bottom: 10em;
}

.birthday-container p {
  margin: 0;
  font-size: 1.5em;
}

.birthday-container__inputs-wrapper {
  margin-top: 3.1875em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "input1 input2 button";
  grid-gap: 1.875em;
}

.errorOutput,
.wrongDate {
  padding-top: 5em;
  font-size: 1.5em;
}

#date,
#date_person1 {
  grid-area: input1;
}

#name,
#date_person2 {
  grid-area: input2;
}

input {
  padding: 1.25em 3.25em 1.25em 3.25em;
  font-family: "Inter";
  font-size: 1.25em;
  background-color: #050215;
  color: #fff8db;
  border: 1px #fff8db solid;
  border-radius: 10px;
  text-transform: uppercase;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

button {
  height: 71px;
  background-color: #fff8db;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-family: "Inter";
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  z-index: 1;
}

#get_the_answer,
#createChart {
  grid-area: button;
  align-self: baseline;
}

.center {
  display: flex;
  justify-content: center;
}

.desteny-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.26);
  text-align: center;
  padding: 9.25em 0 8.5em 0;
  margin: 0;
}

.desteny-container p {
  margin: 0;
  font-size: 3.75em;
}

.chakra-table {
  border-collapse: collapse;
  border-radius: 10px;
  width: 800px;
  border: 1px solid #ffffff;
  display: block;
}

.chakra-table__result {
  margin-top: 1em;
}

.chakra-name {
  width: 260px;
  height: 49px;
  /* border: 1px solid rgb(255, 255, 255); */
  padding: 5px;
  text-align: left;
}

.chakra-name-left {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: flex-start;
  padding-left: 47px;
}

#circle-sahastrara:before {
  font-family: "GFS Didot";
  font-size: 22px;
  content: "7";
  width: 20px;
  border-radius: calc(50%);
  height: 20px;
  display: inline-flex;
  background: #b653f7;
  justify-content: center;
  margin-right: 20px;
  box-shadow: 0 0 10px 10px #b653f7;
}

#circle-ajna:before {
  font-family: "GFS Didot";
  font-size: 22px;
  content: "6";
  width: 20px;
  border-radius: calc(50%);
  height: 20px;
  display: inline-flex;
  background: #3d54f5;
  justify-content: center;
  margin-right: 20px;
  box-shadow: 0 0 10px 10px #3d54f5;
}

#circle-vishuddha:before {
  font-family: "GFS Didot";
  font-size: 22px;
  content: "5";
  width: 20px;
  border-radius: calc(50%);
  height: 20px;
  display: inline-flex;
  color: #000000;
  background: #74e0f8;
  justify-content: center;
  margin-right: 20px;
  box-shadow: 0 0 10px 10px #74e0f8;
}

#circle-anahata:before {
  font-family: "GFS Didot";
  font-size: 22px;
  content: "4";
  width: 20px;
  border-radius: calc(50%);
  height: 20px;
  display: inline-flex;
  color: #000000;
  background: #b6fd57;
  justify-content: center;
  margin-right: 20px;
  box-shadow: 0 0 10px 10px #b6fd57;
}

#circle-manipura:before {
  font-family: "GFS Didot";
  font-size: 22px;
  content: "3";
  width: 20px;
  border-radius: calc(50%);
  height: 20px;
  display: inline-flex;
  color: #000000;
  background: #fbe49d;
  justify-content: center;
  margin-right: 20px;
  box-shadow: 0 0 10px 10px #fbe49d;
}

#circle-svadhishtana:before {
  font-family: "GFS Didot";
  font-size: 22px;
  content: "2";
  width: 20px;
  border-radius: calc(50%);
  height: 20px;
  display: inline-flex;
  color: #f5f5f5;
  background: #ed7233;
  justify-content: center;
  margin-right: 20px;
  box-shadow: 0 0 10px 10px #ed7233;
}

#circle-muladhara:before {
  font-family: "GFS Didot";
  font-size: 22px;
  content: "1";
  width: 20px;
  border-radius: calc(50%);
  height: 20px;
  display: inline-flex;
  color: #f5f5f5;
  background: #ea4631;
  justify-content: center;
  margin-right: 20px;
  box-shadow: 0 0 10px 10px #ea4631;
}

.chakra-td {
  box-shadow: inset 1px 0px 0px rgb(255, 255, 255);
  padding: 5px;
  text-align: center;
  width: 200px;
  size: 16px;
}

.chakra-tr {
  font-family: "Inter";
  size: 20px;
  text-align-last: center;
  box-shadow: 0px 1px 0px rgb(255, 255, 255);
  padding: 5px;
  text-align: center;
}

.chakra-name__bottom {
  box-shadow: none;
}

.chakra-name__radius-left {
  background-color: #827d78;
  border-top-left-radius: 10px;
}

.chakra-name__radius-right {
  background-color: #827d78;
  border-top-right-radius: 10px;
}

.chakra-table-header > :nth-child(2),
.chakra-table-header > :nth-child(3) {
  background-color: #827d78;
}

.chakra-table-header {
  /* background-color: #827D78; */
  font-family: "Inter";
  size: 20px;
  text-transform: uppercase;
}

.glow__wrap {
  /* positioning */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* display */
  display: flex;
  justify-content: center;
  align-items: center;
}

.glow {
  width: 49.775em;
  height: 1.875em;
  background: #fff8db;
  filter: blur(4.6875em);
}

.center_container {
  position: relative;
}

.glow-btn__wrap {
  /* positioning */

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* display */
  display: flex;
  justify-content: center;
  align-items: center;
}

.glow-btn {
  width: 790px;
  height: 30px;
  background: #fff8db;
  filter: blur(75px);
}

.personal-calculator {
  display: flex;
  justify-content: center;
  font-size: 3.375em;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.output-personal-date,
.output2 {
  text-align: center;
  font-size: 1.25em;
  font-family: Inter;
}

.gray {
  color: #827d78;
}

.smoky-white {
  color: #f9f9f8;
}

.smoky-white2 {
  color: #fff8db;
}

.container__socialmedia {
  display: flex;
  margin-bottom: 3em;
}

.socialmedia-item {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.star1 {
  position: absolute;
  top: -32px;
  left: 326px;
}

.star2 {
  position: absolute;
  bottom: 167px;
  right: 10px;
}

.stars-input {
  position: absolute;
  top: -115px;
  left: 350px;
}

.star__wrap {
  position: relative;
}

.wrapper-stars {
  position: relative;
}

.stars-left {
  position: absolute;
  top: 49px;
  left: -169px;
}

.stars-right {
  position: absolute;
  top: -108px;
  right: -162px;
}

#decode-matrix-btn {
  margin-top: 7em;
  margin-bottom: 7em;
  width: 400px;
}

/* Matrix's styles */

.matrix-container,
.compatibility-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pento {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.display-none {
  display: none;
}

#matrix {
  float: none;
  margin: 10% 0 10% 0;
  width: 100%;
  max-width: 800px;
  min-width: 375px;
}

:not(svg) {
  transform-origin: 0px 0px;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: visible;
}

text {
  cursor: default;
}

.cls-4 {
  stroke-dasharray: 0, 49, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
    41;
}

.cls-3,
.cls-4,
.cls-18 {
  stroke-width: 1.5px;
}

.cls-5,
.cls-7 {
  stroke-width: 1px;
}

.cls-18 {
  stroke-dasharray: 0, 25, 10, 50, 10, 50, 10, 25;
}

.cls-18,
.cls-3,
.cls-4 {
  stroke-miterlimit: 10;
  stroke: white;
  fill: none;
}

.cls-5,
.cls-6 {
  stroke: #b653f7;
  fill: #b653f7;
}

.cls-7,
.cls-8 {
  stroke: #ea4631;
  fill: #ea4631;
}

.cls-10 {
  fill: #b653f7;
}

.cls-13 {
  fill: #3d54f5;
}

.cls-15 {
  fill: #74e0f8;
}

.cls-19 {
  fill: #ea4631;
}

.cls-22 {
  fill: #ed7233;
}

.cls-25 {
  fill: #fbe49d;
}

.cls-26 {
  fill: #b6fd57;
}

.cls-15,
.cls-21,
.cls-22,
.cls-26 {
  filter: blur(2.90323px);
}

.cls-13,
.cls-23 {
  filter: blur(3.54839px);
}

.cls-10,
.cls-19,
.cls-24,
.cls-25 {
  filter: blur(5px);
}

.cls-24,
.cls-21,
.cls-23,
.cls-53 {
  fill: #fffcf0;
}

.matrix-value-point {
  text-anchor: middle;
  alignment-baseline: middle;
}

.cls-28 {
  font-size: 12.9501px;
  line-height: 11px;
}

.cls-29 {
  font-size: 12.0251px;
  line-height: 10px;
}

.cls-33 {
  font-size: 12px;
  line-height: 81.9%;
}

.cls-43 {
  font-size: 5.76471px;
  line-height: 81.9%;
}

.cls-44 {
  font-size: 11.5587px;
  line-height: 81.9%;
}

.cls-54,
.cls-55,
.cls-56 {
  font-size: 29.7851px;
  line-height: 37px;
}

.cls-57,
.cls-58 {
  font-size: 17.2946px;
  line-height: 22px;
}

.cls-59,
.cls-60 {
  font-size: 21.1378px;
  line-height: 26px;
}

.cls-61 {
  font-size: 6px;
  line-height: 81.9%;
}

.cls-28,
.cls-29,
.cls-33,
.cls-43,
.cls-44,
.cls-54,
.cls-57,
.cls-59,
.cls-61 {
  fill: #f5f5f5;
}

.cls-55,
.cls-58,
.cls-60 {
  fill: #000000;
}

.cls-56 {
  fill: #d2b154;
}

/* health-map and purposes table styles */

tbody {
  font-family: "Inter";
  font-size: 20px;
}

tr {
  font-family: "Inter";
  size: 20px;
  vertical-align: middle;
  text-align: center;
}

.font-size16 {
  font-family: "Inter";
  font-size: 16px;
}

.table-padding {
  padding-bottom: 20px;
}

.table-padding-top {
  padding-top: 20px;
}

.font-size18 {
  font-family: "Inter";
  font-size: 18px;
}

#purposes {
  font-size: 70%;
  margin-bottom: 20px;
}

#blom {
  padding-right: 100px;
}

#blom2 {
  padding-right: 100px;
}

.purposes-top {
  margin-top: 5em;
}

/*media desktop version */

@media screen and (min-width: 1920px) {
  body {
    font-size: 19.2px;
  }
}

@media screen and (max-width: 479px) {
  body {
    font-size: 4.79px;
  }
}

/*корявые медиа запросы*/

@media screen and (min-width: 1160px) {
  /*  */
  .t-rec {
    word-break: normal !important;
  }

  #allrecords {
    -webkit-font-smoothing: antialiased;
    background-color: none;
  }

  .table {
    justify-items: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
  }

  .compatibility-table {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 70em;
  }

  #table1 {
    margin-top: 30px;
    width: 100%;
  }

  .base-circle {
    border: 2px solid white;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
  }

  #purposes {
    font-size: 70%;
  }

  #purposes {
    margin-bottom: 20px;
  }

  element.style {
    height: 5px;
  }
}

/*media max-width 1160px */

@media screen and (max-width: 1160px) {
  #blom {
    padding-right: 42px;
  }

  #blom2 {
    padding-right: 0px;
  }

  .t-rec {
    word-break: normal !important;
  }
}

/*media max-width 900px */

@media screen and (max-width: 900px) {
  #blom {
    padding-right: 42px;
  }
  #blom2 {
    padding-right: 0px;
  }

  .t-rec {
    word-break: normal !important;
  }

  /* Modify the styles for mobile devices */

  .table {
    float: none;
    margin-left: 25px !important;
    margin-right: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    grid-row: 3/3;
    grid-column-start: auto;
    grid-column-end: auto;
    justify-items: center;
    margin-bottom: 10px;
    min-width: 530px;
  }

  .info-txt {
    float: none;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    grid-row: 2/3;
    grid-column-start: auto;
    grid-column-end: auto;
  }

  #table1 {
    margin-top: 30px;
    width: 100%;
  }
}
